.sectiontwo{
    background-color: #cccccc;
}

#home{
    /* height: 100vh; */
}
#carouselExampleIndicators{
    width: 800px;
}

#home .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#home .container-fluid .row {
    margin: 2rem;
}

#home .container-fluid .row .header{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
}
#home .container-fluid .row .body{
    display: flex;  
    flex-direction: column;
    align-items: center;
}


.buttunStuff{
    width: 150px;
    margin: auto;
}

.section3 {
    background-color: whitesmoke;
}

.imgCenter {
    display: block;
    margin: auto;
  }
  
  .btnCenter {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 54%;
      
  }

.footer {
    background-color: #555555;
}
  