{% extends 'myapp/base.html' %}
{% load static %}

{% block title %} Bookmarks {% endblock %}

{% block content %}
<div class="container">
    <h1>Bookmarks page</h1>
    <hr>    
   
</div>
{% endblock %}