{% extends 'myapp/base.html' %}
{% load static %}

{% block title %} Bosh sahifa {% endblock %}

{% block content %}
<div class="container">
    <h1>Home page</h1>
    <hr>  
    
    <div class="row">
        {% for bulim in bulimlar %}
        <div class="col-6">  
            <a href="{{bulim.nomi}}">{{bulim.nomi}}</a>          
                     
        </div>
        {% endfor %}
    </div>    
</div>
{% endblock %}