{% extends 'myapp/base.html' %}
{% load static %}

{% block title %} Javoblar {% endblock %}

{% block content %}

<div class="container">
  
    {{savol.matn}}

  <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Toggle first element</a>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Toggle second element</button>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Toggle three element</button>
  </p>
  <div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="card card-body">
          {% for lugat in lugatlar %}
            <p>{{lugat.matn}}</p>
            {{lugat.savol}}
          {% endfor%}
        </div>
      </div>
    </div>
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div class="card card-body">
          {% for goya in goyalar %}
            <p>{{goya.matn}}</p>
            {{goya.savol}}
          {% endfor%}
        </div>
      </div>
    </div>
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample3">
        <div class="card card-body">
          {% for javob in javoblar %}
            <p>{{javob.matn}}</p>
            {{javob.savol}}
          {% endfor%}
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}













