{% extends 'myapp/base.html' %}
{% load static %}

{% block title %} Matnlar {% endblock %}

{% block content %}
<div class="container">
    <h1>Matnlar page</h1>
    <hr>  
    {% for matn in matnlar %} 
    <h2>{{matn.bulim}}</h2>
    <p>{{matn.matn}}</p>
    {% endfor %}
</div>
{% endblock %}