{% extends 'myapp/base.html' %}
{% load static %}

{% block title %} Part3 {% endblock %}

{% block content %}
<div class="container">
    <h1>Part2 page</h1>
    <hr>    
    <a href="{% url 'matnlar3' %}">Read me</a> 
    {% for mavzu in mavzular %}
    <a href="{% url 'savollar' mavzu.id %}">{{mavzu.nomi}}</a>
    <span>{{mavzu.savol_soni}}</span>
    <h3>{{mavzu.bulim}}</h3>
    {% endfor %}
</div>
{% endblock %}