{% extends 'myapp/base.html' %}
{% load static %}

{% block title %} Part1 {% endblock %}

{% block content %}
<div class="container">
    <h1>Part1 page</h1>
    <hr> 
    
    <a href="{% url 'matnlar1' %}">Read me</a> 
    
    {% for mavzu in mavzular %}
	    {% if mavzu.tipi == 'pay' %}
	    	<a href="{% url 'savollar_pay' %}">{{mavzu.nomi}}</a>
		    <span>{{mavzu.savol_soni}}</span>
		    <h3>{{mavzu.bulim}}</h3>
	    {% else %}
		    <a href="{% url 'savollar' mavzu.id %}">{{mavzu.nomi}}</a>
		    <span>{{mavzu.savol_soni}}</span>
		    <h3>{{mavzu.bulim}}</h3>
	    {% endif %}
    {% endfor %}

</div>
{% endblock %}