{% extends 'myapp/base.html' %}
{% load static %}

{% block title %} Savollar {% endblock %}

{% block content %}
<div class="container">
    <h1>Savollar pay page</h1>
    <hr>  
    
    <p>Ushbu mavzuga oid savol va javoblarni ko'rish uchun tulov qilishingiz talab etiladi </p>
</div>
{% endblock %}