{% extends 'myapp/base.html' %}
{% load static %}

{% block title %} Savollar {% endblock %}

{% block content %}
<div class="container">
    <h1>Savollar page</h1>
    <hr>  
    
    {% for savol in savollar %} 
    <a href="{% url 'javoblar' savol.id %}">{{savol.mavzu}}</a>
    <p>{{savol.matn}}</p>
    {% endfor %}
    <hr>
    {% for qismiy_savol in qismiy_savollar %} 
    <h2>{{qismiy_savol.matn}}</h2>
    <p>{{qismiy_savol.savol}}</p>
    {% endfor %}
</div>
{% endblock %}